body {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 800 450' opacity='1'%3E%3Cdefs%3E%3Cfilter id='bbblurry-filter' x='-100%' y='-100%' width='400%' height='400%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='130' x='0%' y='0%' width='100%' height='100%' in='SourceGraphic' edgeMode='none' result='blur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23bbblurry-filter)'%3E%3Cellipse rx='277.5' ry='277.5' cx='171.77140253240412' cy='-187.73203346946025' fill='hsla(37, 67%, 56%, 1.00)'%3E%3C/ellipse%3E%3Cellipse rx='277.5' ry='277.5' cx='200.03208923339844' cy='599.3707164417614' fill='hsl(170, 33.3%, 29.4%)'%3E%3C/ellipse%3E%3Cellipse rx='277.5' ry='277.5' cx='650.6560391512783' cy='592.2153542258523' fill='hsl(170, 33.3%, 29.4%)'%3E%3C/ellipse%3E%3Cellipse rx='277.5' ry='277.5' cx='624.0772982510653' cy='-150.3115692138672' fill='hsla(37, 67%, 56%, 1.00)'%3E%3C/ellipse%3E%3Cellipse rx='277.5' ry='277.5' cx='396.12514426491475' cy='565.9098621715199' fill='hsl(170, 33.3%, 29.4%)'%3E%3C/ellipse%3E%3Cellipse rx='277.5' ry='277.5' cx='405.84666859019876' cy='-117.8841552734375' fill='hsla(37, 67%, 56%, 1.00)'%3E%3C/ellipse%3E%3C/g%3E%3C/svg%3E");
   background-size: cover;
}

::-moz-selection {
   background-color: #799283;
   color: rgb(255, 255, 255);
   text-shadow: 0 0 10px rgb(255, 255, 119);
}

::selection {
   background-color: #799283;
   color: rgb(255, 255, 255);
   text-shadow: 0 0 10px rgb(255, 255, 119);
}

body,
.main-about-me {
   height: 100vh;
}

.main-about-me {
   padding-left: 5%;
   padding-right: 5%;
}

.img-div {
   width: 100%;
}

.img {
   -webkit-border-radius: 180px;
   border-radius: 180px;
   border: 5px solid #feb74a;
   max-width: 780px;
   width: 80%;
   height: auto;
   filter: drop-shadow(0px 0px 37px rgba(0, 0, 0, 0.56));
   -webkit-filter: drop-shadow(0px 0px 37px rgba(0, 0, 0, 0.56));
   -moz-filter: drop-shadow(0px 0px 37px rgba(0, 0, 0, 0.56));
}

.p-div {
   font-size: 1.07rem;
   font-variant: small-caps;
   font-weight: bold;
   font-family: sans-serif;
   text-indent: 60px;
   color: #0b3030;
}

.p-div div {
   margin-top: 20px;
}

.p-div>div>p {
   margin-bottom: 11px;
}

.p-div div p a {
   color: black;
   text-decoration: none;
   border: 1px solid #ab8800;
   padding: 0 5px;
}

.p-div div p a:hover {
   border: 1px solid #e7b800;
}

@media screen and (max-width: 329px) {
   .main-about-me {
      padding-top: 59px;
   }
}

@media screen and (min-width: 330px) and (max-width: 369px) {
   .main-about-me {
      padding-top: 59px;
   }
}

@media screen and (min-width: 370px) and (max-width: 419px) {
   .main-about-me {
      padding-top: 59px;
   }
}

@media screen and (min-width: 420px) and (max-width: 466px) {
   .main-about-me {
      padding-top: 59px;
   }
}

@media screen and (min-width: 467px) and (max-width: 566px) {
   .main-about-me {
      padding-top: 59px;
   }
}

@media screen and (min-width: 567px) and (max-width: 666px) {
   .main-about-me {
      padding-top: 60px;
   }
}

@media screen and (min-width: 667px) and (max-width: 766px) {
   .main-about-me {
      padding-top: 67px;
   }
}

@media screen and (min-width: 767px) and (max-width: 866px) {
   .main-about-me {
      padding-top: 69px;
   }
}

@media screen and (min-width: 867px) and (max-width: 1024px) {
   .main-about-me {
      padding-top: 72px;
   }
}

@media screen and (min-width: 1025px) and (max-width: 1150px) {
   .main-about-me {
      padding-top: 82px;
   }
}

@media screen and (min-width: 1151px) and (max-width: 1350px) {
   .main-about-me {
      padding-top: 93px;
   }
}

@media screen and (min-width: 1351px) {
   .main-about-me {
      padding-top: 97px;
   }
}

/* utilites */
.flex-center {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.flex {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
}

.inline {
   display: inline;
}

.text-dec-none {
   text-decoration: none;
}