:root {
   --image-modal-max-height: 80vh;
}

body {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 800 450' opacity='1'%3E%3Cdefs%3E%3Cfilter id='bbblurry-filter' x='-100%' y='-100%' width='400%' height='400%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='130' x='0%' y='0%' width='100%' height='100%' in='SourceGraphic' edgeMode='none' result='blur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23bbblurry-filter)'%3E%3Cellipse rx='277.5' ry='277.5' cx='171.77140253240412' cy='-187.73203346946025' fill='hsla(37, 67%, 56%, 1.00)'%3E%3C/ellipse%3E%3Cellipse rx='277.5' ry='277.5' cx='200.03208923339844' cy='599.3707164417614' fill='hsl(170, 33.3%, 29.4%)'%3E%3C/ellipse%3E%3Cellipse rx='277.5' ry='277.5' cx='650.6560391512783' cy='592.2153542258523' fill='hsl(170, 33.3%, 29.4%)'%3E%3C/ellipse%3E%3Cellipse rx='277.5' ry='277.5' cx='624.0772982510653' cy='-150.3115692138672' fill='hsla(37, 67%, 56%, 1.00)'%3E%3C/ellipse%3E%3Cellipse rx='277.5' ry='277.5' cx='396.12514426491475' cy='565.9098621715199' fill='hsl(170, 33.3%, 29.4%)'%3E%3C/ellipse%3E%3Cellipse rx='277.5' ry='277.5' cx='405.84666859019876' cy='-117.8841552734375' fill='hsla(37, 67%, 56%, 1.00)'%3E%3C/ellipse%3E%3C/g%3E%3C/svg%3E");
   background-size: cover;
   background-attachment: fixed;
}

/* upload modal */

#upload-modal {
   z-index: 3;
}

.modal-overlay {
   background-color: rgba(0, 0, 0, 0.2);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.modal-content {
   background-color: white;
   padding: 20px;
   -webkit-border-radius: 60px;
   border-radius: 60px;
   width: 885px;
   height: 550px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   position: relative;
   -webkit-transition: opacity 0.3s ease;
   transition: opacity 0.3s ease;
   -webkit-box-shadow: 0 4px 8px 0 #373737, 0 6px 20px 0 #272727;
   box-shadow: 0 4px 8px 0 #373737, 0 6px 20px 0 #272727;
}

@-webkit-keyframes rotateBorder {
   0% {
      border: 2px dashed black;
   }

   50% {
      border: 3px dashed black;
   }

   100% {
      border: 4px dashed black;
   }
}

@keyframes rotateBorder {
   0% {
      border: 2px dashed black;
   }

   50% {
      border: 3px dashed black;
   }

   100% {
      border: 4px dashed black;
   }
}

.modal-content.fade-out {
   opacity: 0.888;
   background-color: rgba(185, 150, 93, 0.938);
}

.plus-sign {
   font-size: 180px;
   color: rgb(228, 143, 31);
   text-shadow: 0px 7px 9px #000;
   opacity: 0;
   -webkit-transition: opacity 0.3s ease;
   transition: opacity 0.3s ease;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.modal-content .active .plus-sign {
   opacity: 1;
}

.close-btn {
   position: absolute;
   top: -28px;
   right: -32px;
   cursor: pointer;
   background-color: transparent;
   font-size: 38px;
   color: darkred;
   border: 3px solid darkred;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   width: 48px;
   height: 52px;
   -webkit-box-shadow: 0 4px 8px 0 #373737, 0 6px 20px 0 #272727;
   box-shadow: 0 4px 8px 0 #373737, 0 6px 20px 0 #272727;
   text-shadow: 0px 7px 9px #000;
}

.close-btn:hover {
   color: #333;
}

.drag-text {
   margin-bottom: 10px;
}

#uploadProgress {
   width: 100%;
   height: 10px;
   background-color: #f3f3f3;
   border: none;
   visibility: hidden;
   position: absolute;
   bottom: 0;
}

#uploadProgress::-webkit-progress-bar {
   background-color: #f3f3f3;
}

#uploadProgress::-webkit-progress-value {
   background-color: #51ff008f;
}

#uploadProgress::-moz-progress-bar {
   background-color: #51ff008f;
}


.image-preview {
   /* overflow: visible; */
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   width: 100%;
}

.image-container {
   width: 100%;
   height: 50px;
   border-top: 1px solid red;
   text-align: center;
   padding: 4px 0;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: space-evenly;
   -webkit-justify-content: space-evenly;
   -ms-flex-pack: space-evenly;
   justify-content: space-evenly;
}

.preview-image {
   width: 50px;
}

.file-info {
   width: 450px;
}

.file-info p b {
   display: inline-block;
   white-space: nowrap;
   margin-right: 10px;
   overflow: hidden;
   text-overflow: ellipsis;
}

.file-info div button {
   background-color: #828282;
   border: 1px solid grey;
   padding: 0 5px;
   border-radius: 5px;
   color: #e9e9e9;
}

/* .flex-info p b {
   margin-right: 5px;
} */

.remove-btn {
   cursor: pointer;
   background-color: #cc0000;
   color: white;
   font-weight: bold;
   border: none;
   padding: 5px 10px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   font-size: .9rem;
}

.remove-btn:hover {
   background-color: #ff3333;
}

.remove-btn:disabled {
   background-color: #cc000081;
}

.browse-server-upload:disabled {
   opacity: 0.8;
}

.browse-btn-upload:disabled {
   opacity: 0.8;
}

#upload-submit,
.browse-btn {
   padding: 10px 20px;
   border: none;
   background-color: #333;
   color: white;
   cursor: pointer;
   -webkit-border-radius: 0 7px 7px 0;
   border-radius: 0 7px 7px 0;
   width: 150px;
   height: 45px;
   font-size: 1rem;
}

#upload-submit {
   -webkit-border-radius: 10px;
   border-radius: 10px;
}

#upload-submit:hover,
.browse-btn:hover {
   background-color: #555;
}

.upload-container {
   /* overflow: hidden; */
   position: relative;
   width: 100%;
   height: -webkit-calc(100% - 55px);
   height: calc(100% - 55px);
   border: 4px dashed #daa041b8;
   -webkit-border-radius: 8px;
   border-radius: 8px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   background-color: #daa0414d;
}

.btns-container {
   position: absolute;
   bottom: 0;
   padding: 15px 0;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: space-evenly;
   -webkit-justify-content: space-evenly;
   -ms-flex-pack: space-evenly;
   justify-content: space-evenly;
   width: -webkit-calc(100% - 40px);
   width: calc(100% - 40px);
}

.browse-btn-div {
   border: 2px solid #333;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   cursor: pointer;
}

.image-modal {
   position: fixed;
   z-index: 10;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(0, 0, 0, 0.6);
   padding: 10px;
}

.image-modal-centered-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 1.5rem;
}

@media (min-width: 640px) {
   .image-modal-centered-box {
      width: 83.333333%;
   }
}

@media (min-width: 768px) {
   .image-modal-centered-box {
      width: 66.666667%;
   }
}

@media (min-width: 1024px) {
   .image-modal-centered-box {
      width: 40%;
   }
}


::-moz-selection {
   background-color: #799283;
   color: rgb(255, 255, 255);
   text-shadow: 0 0 10px rgb(255, 255, 119);
}

::selection {
   background-color: #799283;
   color: rgb(255, 255, 255);
   text-shadow: 0 0 10px rgb(255, 255, 119);
}

.upload-btn {
   display: block;
   border: none;
   background-color: transparent;
   margin: 0;
   font-family: serif;
}

.main-gallery {
   padding-left: 5%;
   padding-right: 5%;
   height: 100vh;
}

.heading-text span {
   font-weight: 100;
}

.image-gallery {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   overflow: hidden;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   gap: 10px;
}

.image-item span,
.image-item div,
.image-item {
   -webkit-flex-basis: 350px;
   -ms-flex-preferred-size: 350px;
   flex-basis: 350px;
   position: relative;
}

.image-gallery::after {
   /* content: "";
   -webkit-flex-basis: 350px;
   -ms-flex-preferred-size: 350px;
   flex-basis: 350px; */
}

.image-item span,
.image-item div,
.image-item img,
.image-item img span {
   cursor: pointer;
   -o-object-fit: cover;
   object-fit: cover;
   max-width: 100%;
   height: auto;
   vertical-align: middle;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   box-shadow: 0 0 10px gray;
}

.image {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   background-size: cover;
   width: 100%;
   height: 100%;
}

.image-wrapper {
   position: relative !important;
   width: 350px;
   background-size: cover;
}

.image-wrapper-blur {
   position: relative;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   filter: blur(10px);
   background-size: cover;

}

.image-loading-animation {
   /*  */
   width: 48px;
   /* height: 48px; */
   margin: auto;
   position: relative;
   aspect-ratio: 1 / 1;
}

.image-loading-animation:before {
   content: '';
   width: 48px;
   height: 5px;
   background: #b09771;
   position: absolute;
   top: 60px;
   left: 0;
   border-radius: 50%;
   animation: shadow324 0.5s linear infinite;
}

.image-loading-animation::after {
   content: '';
   width: 100%;
   height: 100%;
   background: #e09a31;
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 50%;
   animation: jump7456 0.5s linear infinite;
}

.images-ready {
   width: 100%;
   margin: 20px 0;
   font-size: 1.2rem;
   text-align: center;
   font-family: cursive;
}

@keyframes jump7456 {
   15% {
      border-bottom-right-radius: 50%;
   }

   25% {
      transform: translateY(9px) rotate(22.5deg);
   }

   50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
   }

   75% {
      transform: translateY(9px) rotate(67.5deg);
   }

   100% {
      transform: translateY(0) rotate(90deg);
   }
}

@keyframes shadow324 {

   0%,
   100% {
      transform: scale(1, 1);
   }

   50% {
      transform: scale(1.2, 1);
   }
}

/* imagePreview-modal */

#imageModal {
   user-select: none;
   text-align: center;
   z-index: 999999;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   margin: auto;
   border: none;
   background-color: #43350029;
   box-shadow: 0px 0px 198px 70px rgba(67, 53, 0, 0.23);
   -webkit-box-shadow: 0px 0px 198px 70px rgba(67, 53, 0, 0.23);
   -moz-box-shadow: 0px 0px 198px 70px rgba(67, 53, 0, 0.23);
}

.image-preview-error-loading {
   font-size: 1.2rem;
   color: rgb(83, 37, 37);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin: auto;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   border: 3px solid grey;
   border-radius: 10px;
   max-width: 80%;
   max-height: 70px;
   background-color: #9b9786;
   position: relative;
}

.image-preview-error-loading>button {
   height: 30px;
   width: 50px;
   position: absolute;
   color: #4c0000;
   right: 16px;
   top: 10px;
   background: none;
   border: none;
   font-size: 1.5rem;
   cursor: pointer;
}

.image-preview-error-loading p:first-of-type {
   display: flex;
   justify-content: center;
   align-items: center;
}

.image-preview-error-loading>button:hover {
   border: 2px solid darkred;
   border-radius: 30%;
   border-left: 0;
   border-right: 0;
}

.image-preview-error-loading>.error {
   color: rgb(229, 0, 0);
   background-color: transparent;
   text-shadow: 0 0 10px rgb(211, 211, 211);
}

.image-preview-error-loading>div>span {
   text-shadow: 0 0 10px rgb(255, 255, 119);
}

.imagePreview-modal-content {
   max-height: var(--image-modal-max-height);
   width: auto;
   margin: auto;
   display: block;
   border-color: grey;
   border-width: 3px;
   border-style: solid;
   background-color: #9b9786;
   border-radius: 5px 5px 0 0;
   box-shadow: 0px 0px 120px 40px rgba(67, 53, 0, 0.8);
   -webkit-box-shadow: 0px 0px 120px 40px rgba(67, 53, 0, 0.8);
   -moz-box-shadow: 0px 0px 120px 40px rgba(67, 53, 0, 0.8);
}

.imagePreview-close {
   position: absolute;
   top: 15px;
   right: 15px;
   color: #fff;
   font-size: 30px;
   font-weight: bold;
   cursor: pointer;
}

.preview {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.imagePreview-info {
   background-color: #cacacac9;
   border: 3px solid gray;
   border-top: 0;
   font-family: 'Courier New', Courier, monospace;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   height: 40px;
   font-size: 1.34rem;
   font-weight: bold;
   border-radius: 0 0 5px 5px;
   box-shadow: 0 0 50px 30px #8c8c8c57;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: capitalize;
}

@media only screen and (width <=399px) {
   .image-preview-error-loading {
      height: 43px;
   }

   .image-preview-error-loading>div {
      font-size: 0.80em;
   }

   .image-preview-error-loading>.error {
      font-size: 0.50em;
   }

   .image-preview-error-loading>button {
      height: 24px;
      width: 24px;
   }

   .imagePreview-info {
      font-size: 0.958em;
   }

   .image-loading-animation {
      width: 38px;
   }

   .image-loading-animation:before {
      width: 38px;
      top: 50px;
   }

   .images-ready {
      font-size: 0.8rem;
   }
}

@media only screen and (width >=400px) and (width <=599px) {
   .image-preview-error-loading {
      height: 55px;
   }

   .image-preview-error-loading>div {
      font-size: 0.84em;
   }

   .image-preview-error-loading>.error {
      font-size: 0.53em;
   }

   .image-preview-error-loading>button {
      height: 26px;
      width: 29px;
   }

   .imagePreview-info {
      font-size: 0.978em;
   }

   .image-loading-animation {
      width: 40px;
   }

   .image-loading-animation:before {
      width: 40px;
      top: 52px;
   }

   .images-ready {
      font-size: 0.89rem;
   }
}

@media only screen and (width >=500px) and (width <=599px) {
   .image-preview-error-loading>.error {
      font-size: 0.65em;
   }

   .image-loading-animation {
      width: 45px;
   }

   .image-loading-animation:before {
      width: 45px;
      top: 57px;
   }

   .images-ready {
      font-size: 0.94rem;
   }
}

@media only screen and (width >=600px) and (width <=800px) {
   .image-preview-error-loading {
      height: 60px;
   }

   .image-preview-error-loading>div {
      font-size: 0.92em;
   }

   .image-preview-error-loading>.error {
      font-size: 0.78em;
   }

   .image-preview-error-loading>button {
      height: 28px;
      width: 44px;
   }

   .imagePreview-info {
      font-size: 0.99em;
   }

   .image-loading-animation {
      width: 47px;
   }

   .image-loading-animation:before {
      width: 47px;
      top: 59px;
   }

   .images-ready {
      font-size: 1.1rem;
   }
}


@media only screen and (width <=800px) {
   .image-preview-error-loading {
      position: static;
      justify-content: space-around;
   }

   .image-preview-error-loading>button {
      position: static;
   }
}

@media only screen and (width <=1100px) {
   .imagePreview-modal-content {
      max-width: 80%;
   }

   .image-preview-error-loading>.error {
      text-align-last: center;
   }

   .imagePreview-info {
      max-width: 80%;
   }
}

/* uploadIMage-modal */

@media only screen and (max-width: 359px) {

   .modal-content {
      padding: 15px;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      width: 85%;
      height: 235px;
   }

   .plus-sign {
      font-size: 85px;
   }

   .close-btn {
      top: -15px;
      right: -18px;
      font-size: 20px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      width: 30px;
      height: 32px;
      font-weight: bold;
      border: 2px solid darkred;
   }

   .image-container {
      width: 100%;
      height: 35px;
      padding: 2px 0;
   }

   .preview-image {
      width: 50px;
      height: auto;
   }

   .file-info {
      width: 65%;
      max-width: 350px;
      font-size: .677rem;
   }

   /* .file-info p b, */
   .file-info p:nth-child(2) {
      width: 95%;
   }

   .remove-btn {
      padding: 3px 0.5px;
      margin: 2px 0;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      width: 40px;
      height: 25px;
      font-size: 0.577rem;
   }

   #upload-submit,
   .browse-btn {
      padding: 1px 3px;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
      width: 68px;
      height: 29px;
      font-size: 0.677rem;
   }

   .drag-text {
      font-size: .677rem;
      margin-bottom: 0;
   }

   #upload-submit {
      -webkit-border-radius: 6px;
      border-radius: 6px;
      height: 33px;
   }

   .upload-container {
      height: -webkit-calc(100% - 33px);
      height: calc(100% - 33px);
      border: 2px dashed #daa041b8;
      -webkit-border-radius: 8px;
      border-radius: 8px;
   }

   .btns-container {
      padding: 5px 0 9px;
   }

   .browse-btn-div {
      -webkit-border-radius: 6px;
      border-radius: 6px;
      padding-left: 5px;
   }
}


@media only screen and (min-width: 360px) and (max-width: 759px) {
   .modal-content {
      padding: 15px;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      width: 85%;
      height: 235px;
   }

   .plus-sign {
      font-size: 85px;
   }

   .close-btn {
      top: -15px;
      right: -18px;
      font-size: 20px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      width: 30px;
      height: 32px;
      font-weight: bold;
      border: 2px solid darkred;
   }

   .image-container {
      width: 100%;
      height: 35px;
      padding: 2px 0;
   }

   .preview-image {
      width: 50px;
      height: auto;
   }

   .file-info {
      width: 65%;
      max-width: 350px;
      font-size: .677rem;
   }

   /* .file-info p b, */
   .file-info p:nth-child(2) {
      width: 95%;
   }

   .remove-btn {
      padding: 3px 5px;
      margin: 2px 0;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      font-size: .677rem;
      height: 25px;
      width: 50px;
   }

   #upload-submit,
   .browse-btn {
      padding: 1px 3px;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
      width: 92px;
      height: 29px;
      font-size: 0.677rem;
   }

   .drag-text {
      font-size: .677rem;
      margin-bottom: 0;
   }

   #upload-submit {
      -webkit-border-radius: 6px;
      border-radius: 6px;
      height: 33px;
   }

   .upload-container {
      height: -webkit-calc(100% - 33px);
      height: calc(100% - 33px);
      border: 2px dashed #daa041b8;
      -webkit-border-radius: 8px;
      border-radius: 8px;
   }

   .btns-container {
      padding: 5px 0 9px;
   }

   .browse-btn-div {
      -webkit-border-radius: 6px;
      border-radius: 6px;
      padding-left: 5px;
   }
}

@media only screen and (min-width: 360px) and (max-width: 385px) {
   .browse-btn {
      width: 75px;
   }
}

@media only screen and (min-width: 760px) and (max-width: 1024px) {
   .modal-content {
      padding: 20px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      width: 85%;
      height: 410px;
   }

   .plus-sign {
      font-size: 180px;
   }

   .close-btn {
      top: -18px;
      right: -23px;
      font-size: 27px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      width: 35px;
      height: 40px;
   }

   .image-container {
      width: 100%;
      height: 50px;
      padding: 4px 0;
   }

   .preview-image {
      width: 50px;
   }

   .file-info {
      width: 450px;
      font-size: .9rem;
   }

   /* .file-info p b {
      width: 440px;
   } */

   .remove-btn {
      padding: 5px 10px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      font-size: .877rem;
   }

   #upload-submit,
   .browse-btn {
      padding: 1px 3px;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
      width: 108px;
      height: 37px;
      font-size: .8rem;
   }

   .drag-text {
      font-size: .8rem;
   }

   #upload-submit {
      -webkit-border-radius: 6px;
      border-radius: 6px;
      height: 41px;
   }

   .upload-container {
      height: -webkit-calc(100% - 45px);
      height: calc(100% - 45px);
      border: 3px dashed #daa041b8;
      -webkit-border-radius: 8px;
      border-radius: 8px;
   }

   .btns-container {
      padding: 10px 0;
   }

   .browse-btn-div {
      -webkit-border-radius: 6px;
      border-radius: 6px;
      padding-left: 5px;
   }
}

@media only screen and (min-width: 1025px) {
   .modal-content {
      padding: 20px;
      -webkit-border-radius: 60px;
      border-radius: 60px;
      width: 885px;
      height: 550px;
   }

   .plus-sign {
      font-size: 180px;
   }

   .close-btn {
      top: -28px;
      right: -32px;
      font-size: 38px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      width: 48px;
      height: 52px;
   }

   .image-container {
      width: 100%;
      height: 50px;
      padding: 4px 0;
   }

   .preview-image {
      width: 50px;
   }

   .file-info {
      width: 450px;
   }

   /* .file-info p b {
      width: 440px;
   } */

   .remove-btn {
      padding: 5px 10px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      font-size: .9rem;
   }

   #upload-submit,
   .browse-btn {
      padding: 10px 20px;
      -webkit-border-radius: 0 7px 7px 0;
      border-radius: 0 7px 7px 0;
      width: 150px;
      height: 45px;
      font-size: 1rem;
   }

   #upload-submit {
      -webkit-border-radius: 10px;
      border-radius: 10px;
   }

   .upload-container {
      height: -webkit-calc(100% - 55px);
      height: calc(100% - 55px);
      border: 4px dashed #daa041b8;
      -webkit-border-radius: 8px;
      border-radius: 8px;
   }

   .btns-container {
      padding: 15px 0;
   }

   .browse-btn-div {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      padding-left: 5px;
   }
}

.browse-btn-hidden {
   height: 33px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   display: none;
}

@media screen and (max-width: 329px) {
   .main-gallery {
      padding-top: 59px;
   }
}

@media screen and (min-width: 330px) and (max-width: 369px) {
   .main-gallery {
      padding-top: 59px;
   }
}

@media screen and (min-width: 370px) and (max-width: 419px) {
   .main-gallery {
      padding-top: 59px;
   }
}

@media screen and (min-width: 420px) and (max-width: 466px) {
   .main-gallery {
      padding-top: 59px;
   }
}

@media screen and (min-width: 467px) and (max-width: 566px) {
   .main-gallery {
      padding-top: 59px;
   }
}

@media screen and (min-width: 567px) and (max-width: 666px) {
   .main-gallery {
      padding-top: 60px;
   }
}

@media screen and (min-width: 667px) and (max-width: 766px) {
   .main-gallery {
      padding-top: 67px;
   }
}

@media screen and (min-width: 767px) and (max-width: 866px) {
   .main-gallery {
      padding-top: 69px;
   }
}

@media screen and (min-width: 867px) and (max-width: 1024px) {
   .main-gallery {
      padding-top: 72px;
   }
}

/* scroll bar media query added end reason conflict  */

@media screen and (min-width: 1025px) and (max-width: 1150px) {
   .main-gallery {
      padding-top: 82px;
   }
}

@media screen and (min-width: 1151px) and (max-width: 1350px) {
   .main-gallery {
      padding-top: 93px;
   }
}

@media screen and (min-width: 788px) {

   .image-item span,
   .image-item div,
   .image-item img,
   .image-item img span {
      height: 350px;
      width: 350px;
   }
}

@media screen and (min-width: 1351px) {
   .main-gallery {
      padding-top: 97px;
   }
}

/* utilites */

.flex {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
}

.flex-center {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   justify-content: center;
   align-items: center;
}

.inline {
   display: inline;
}

.text-dec-none {
   text-decoration: none;
}