html,
body,
.main-home {
   height: 100vh;
   width: 100vw;
   overflow: hidden;
}

@font-face {
   font-family: 'Questrial';
   src: url('./Questrial-Regular.ttf') format('truetype');
}

.header {
   position: relative;
}

.main-image {
   position: relative;
   background: rgb(215, 151, 48);
   background: -webkit-gradient(linear,
         left top, left bottom,
         from(rgba(215, 151, 48, 0.27)),
         color-stop(30%, rgba(215, 151, 48, 0.5)),
         color-stop(60%, rgba(215, 151, 48, 0.72)),
         color-stop(96%, rgba(215, 151, 48, 0.92)));
   background: linear-gradient(rgba(215, 151, 48, 0.27) 0%,
         rgba(215, 151, 48, 0.5) 30%,
         rgba(215, 151, 48, 0.72) 60%,
         rgba(215, 151, 48, 0.92) 96%);
}

.main-image {
   background-color: #fff !important;
}

.bar {
   background-color: #32645C;
   -webkit-box-shadow: 0 4px 9px 2px rgba(0, 0, 0, .3);
   box-shadow: 0 4px 9px 2px rgba(0, 0, 0, .3);
   -webkit-border-radius: 0 0 10px 10px;
   border-radius: 0 0 10px 10px;
   position: relative;
   z-index: 50;
}

.bar-bar {
   background: rgb(95, 95, 95);
   background: linear-gradient(277deg, rgba(95, 95, 95, 1) 0%,
         rgba(48, 48, 48, 1) 15%,
         rgba(0, 0, 0, 1) 48%,
         rgba(48, 48, 48, 1) 82%,
         rgba(95, 95, 95, 1) 100%);
}

.content {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   background-color: #32645C;
   color: white;
   position: relative;
   z-index: 20;
}

.content-content {
   width: 60%;
   text-align: center;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-justify-content: space-around;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   margin-top: 40px;
   margin-bottom: 40px;
}

h1 {
   font-family: sans-serif;
}

p {
   font-family: Georgia, serif;
}

button {
   font-family: 'Questrial', sans-serif;
}

#btn {
   height: 50px;
   width: 180px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   border: 2px solid black;
   background-color: #C9A10D;
   cursor: pointer;
}

.spongeAnimation {
   -webkit-animation: sponge 1s ease;
   animation: sponge 1s ease;
}

@-webkit-keyframes sponge {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }

   50% {
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
   }

   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}

@keyframes sponge {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }

   50% {
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
   }

   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}

.btn-div {
   height: 56px;
   width: 186px;
   padding: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #C9A10D;
   cursor: pointer;
}

.light-left,
.light-right {
   width: 25%;
   padding-bottom: 40px;
   margin-top: auto;
   margin-bottom: auto;
}

.light {
   height: auto;
   width: 100%;
   position: relative;
}

.light-left {
   width: 20%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
   -webkit-justify-content: flex-end;
   -ms-flex-pack: end;
   justify-content: flex-end;
}

.light-right {
   width: 20%;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
}

.animate-light {
   -webkit-animation: light 2.5s ease;
   animation: light 2.5s ease;
}

@-webkit-keyframes light {
   0% {
      background-color: rgba(250, 255, 115, 0);
      box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0);
      -webkit-box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0);
      -moz-box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0);
   }

   50% {
      background-color: rgba(250, 255, 115, .4);
      box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0.65);
      -webkit-box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0.65);
      -moz-box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0.65);
   }

   100% {
      background-color: rgba(250, 255, 115, 0);
      box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0);
      -webkit-box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0);
      -moz-box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0);
   }
}

@keyframes light {
   0% {
      background-color: rgba(250, 255, 115, 0);
      box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0);
      -webkit-box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0);
      -moz-box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0);
   }

   50% {
      background-color: rgba(250, 255, 115, .4);
      box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0.65);
      -webkit-box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0.65);
      -moz-box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0.65);
   }

   100% {
      background-color: rgba(250, 255, 115, 0);
      box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0);
      -webkit-box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0);
      -moz-box-shadow: 1px 1px 95px 45px rgba(250, 255, 115, 0);
   }
}

.road-svg {
   margin-bottom: -4.9px;
}

.road {
   width: 100%;
}

.hero-img {
   width: auto;
   max-width: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}

.hero-img-div {
   width: 100%;
}

.bottom-div {
   padding-top: 3px;
   position: absolute;
   bottom: 0;
   width: 100%;
   z-index: 10;
   background-color: #daa041;
}

.bottom-div div svg {
   height: 15px;
   width: auto;
}

@media only screen and (max-width: 329px) {

   html,
   body,
   .main-home {
      overflow: visible;
   }

   .content {
      height: 170px;
   }

   .content-content {
      margin-top: 28px;
      margin-bottom: 8px;
   }

   .bottom-div div svg {
      height: 11px;
   }

   .bar {
      height: 50px;
   }

   .hero-img {
      width: 95%;
   }

   .bar-bar {
      height: 28px;
   }

   h1 {
      font-size: .9rem;
   }

   p {
      font-size: .8rem;
   }

   #btn {
      height: 29px;
      width: 162px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: 2px solid black;
      background-color: #C9A10D;
      font-size: .9rem;
   }

   .btn-div {
      height: 36px;
      width: 168px;
      padding: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-color: #C9A10D;
   }

   .light-left,
   .light-right {
      margin-top: 20px;
      padding-bottom: 55px;
   }

   @-webkit-keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0);
      }
   }

   @keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 26px rgba(250, 255, 115, 0);
      }
   }
}

@media only screen and (min-width: 330px) and (max-width: 369px) {
   .content {
      height: 170px;
   }

   .content-content {
      margin-top: 28px;
      margin-bottom: 8px;
   }

   .bottom-div div svg {
      height: 11.2px;
   }

   .main-image {
      height: 190px;
   }

   .bar {
      height: 50px;
   }

   .hero-img {
      height: 170px;
   }

   .bar-bar {
      height: 28px;
   }

   h1 {
      font-size: .9rem;
   }

   p {
      font-size: .8rem;
   }

   #btn {
      height: 29px;
      width: 162px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: 2px solid black;
      background-color: #C9A10D;
      font-size: .9rem;
   }

   .btn-div {
      height: 36px;
      width: 168px;
      padding: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-color: #C9A10D;
   }

   .light-left,
   .light-right {
      margin-top: 19px;
      padding-bottom: 55px;
   }

   @-webkit-keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0);
      }
   }

   @keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 42px rgba(250, 255, 115, 0);
      }
   }
}

@media only screen and (max-height: 445px) and (min-width: 330px) and (max-width: 369px) {

   html,
   body,
   .main-home {
      overflow: visible;
   }
}

@media only screen and (min-width: 370px) and (max-width: 419px) {
   .content {
      height: 185px;
   }

   .content-content {
      margin-top: 28px;
      margin-bottom: 8px;
   }

   .main-image {
      height: 205px;
   }

   .bottom-div div svg {
      height: 11.9px;
   }

   .bar {
      height: 60px;
   }

   .hero-img {
      height: 185px;
   }

   .bar-bar {
      height: 35px;
   }

   h1 {
      font-size: .9rem;
   }

   p {
      font-size: .8rem;
   }

   #btn {
      height: 40px;
      width: 162px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: 2px solid black;
      background-color: #C9A10D;
      font-size: .9rem;
   }

   .btn-div {
      height: 46px;
      width: 168px;
      padding: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-color: #C9A10D;
   }

   .light-left,
   .light-right {
      margin-top: 21px;
      padding-bottom: 55px;
   }

   @-webkit-keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0);
      }
   }

   @keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 28px rgba(250, 255, 115, 0);
      }
   }
}

@media only screen and (max-height: 480px) and (min-width: 370px) and (max-width: 419px) {

   html,
   body,
   .main-home {
      overflow: visible;
   }
}

@media only screen and (min-width: 420px) and (max-width: 466px) {
   .content {
      height: 190px;
   }

   .content-content {
      margin-top: 28px;
      margin-bottom: 8px;
   }

   .main-image {
      height: 230px;
   }

   .bottom-div div svg {
      height: 12.2px;
   }

   .bar {
      height: 60px;
      -webkit-border-radius: 0 0 12px 12px;
      border-radius: 0 0 12px 12px;
   }

   .hero-img {
      height: 210px;
   }

   .bar-bar {
      height: 35px;
   }

   h1 {
      font-size: .9rem;
   }

   p {
      font-size: .8rem;
   }

   #btn {
      height: 40px;
      width: 162px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: 2px solid black;
      background-color: #C9A10D;
      font-size: .9rem;
   }

   .btn-div {
      height: 46px;
      width: 168px;
      padding: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-color: #C9A10D;
   }

   .light-left,
   .light-right {
      margin-top: 20px;
      padding-bottom: 55px;
   }

   @-webkit-keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0);
      }
   }

   @keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 32px rgba(250, 255, 115, 0);
      }
   }
}

@media only screen and (max-height: 515px) and (min-width: 420px) and (max-width: 466px) {

   html,
   body,
   .main-home {
      overflow: visible;
   }
}

@media only screen and (min-width: 467px) and (max-width: 566px) {
   .content {
      height: 220px;
   }

   .content-content {
      margin-top: 28px;
      margin-bottom: 8px;
   }

   .main-image {
      height: 230px;
   }

   .bottom-div div svg {
      height: 12.6px;
   }

   .bar {
      height: 70px;
      -webkit-border-radius: 0 0 14px 14px;
      border-radius: 0 0 14px 14px;
      padding-top: 14px;
   }

   .hero-img {
      height: 210px;
   }

   .bar-bar {
      height: 35px;
   }

   h1 {
      font-size: 1.2rem;
   }

   p {
      font-size: 1.1rem;
   }

   #btn {
      height: 46px;
      width: 172px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: 2px solid black;
      background-color: #C9A10D;
      font-size: 1rem;
   }

   .btn-div {
      height: 52px;
      width: 178px;
      padding: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-color: #C9A10D;
   }

   .light-left,
   .light-right {
      margin-top: 8px;
      padding-bottom: 55px;
   }

   @-webkit-keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0);
      }
   }

   @keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 33px rgba(250, 255, 115, 0);
      }
   }
}

@media only screen and (max-height: 550px) and (min-width: 467px) and (max-width: 566px) {

   html,
   body,
   .main-home {
      overflow: visible;
   }
}

@media only screen and (min-width: 567px) and (max-width: 666px) {
   .content {
      height: 245px;
   }

   .content-content {
      margin-top: 28px;
      margin-bottom: 8px;
   }

   .main-image {
      height: 270px;
   }

   .bottom-div div svg {
      height: 13px;
   }

   .bar {
      height: 75px;
      -webkit-border-radius: 0 0 15px 15px;
      border-radius: 0 0 15px 15px;
      padding-top: 14px;
   }

   .hero-img {
      height: 250px;
   }

   .bar-bar {
      height: 35px;
   }

   h1 {
      font-size: 1.4rem;
   }

   p {
      font-size: 1.25rem;
   }

   #btn {
      height: 46px;
      width: 192px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: 2px solid black;
      background-color: #C9A10D;
      font-size: 1.1rem;
   }

   .btn-div {
      height: 52px;
      width: 198px;
      padding: 3px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #C9A10D;
   }

   .light-left,
   .light-right {
      margin-top: 9px;
      padding-bottom: 85px;
   }

   @-webkit-keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0);
      }
   }

   @keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 35px rgba(250, 255, 115, 0);
      }
   }
}

@media only screen and (max-height: 555px) and (min-width: 567px) and (max-width: 666px) {

   html,
   body,
   .main-home {
      overflow: visible;
   }
}

@media only screen and (min-width: 667px) and (max-width: 766px) {
   .content {
      height: 255px;
      min-height: 240px;
   }

   .content-content {
      margin-top: 28px;
      margin-bottom: 8px;
   }

   .main-image {
      height: 335px;
   }

   .bottom-div div svg {
      height: 13.5px;
   }

   .bar {
      height: 72px;
      -webkit-border-radius: 0 0 16px 16px;
      border-radius: 0 0 16px 16px;
      padding-top: 14px;
   }

   .hero-img {
      height: 315px;
   }

   .bar-bar {
      height: 35px;
   }

   h1 {
      font-size: 1.6rem;
   }

   p {
      font-size: 1.45rem;
   }

   #btn {
      height: 46px;
      width: 222px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      border: 2.8px solid black;
      background-color: #C9A10D;
      font-size: 1.3rem;
   }

   .btn-div {
      height: 52px;
      width: 228px;
      padding: 3px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      background-color: #C9A10D;
   }

   .light-left,
   .light-right {
      margin-top: 6px;
      padding-bottom: 85px;
   }

   @-webkit-keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0);
      }
   }

   @keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 38px rgba(250, 255, 115, 0);
      }
   }
}

@media only screen and (max-height: 685px) and (min-width: 667px) and (max-width: 766px) {

   html,
   body,
   .main-home {
      overflow: visible;
   }
}

@media only screen and (min-width: 767px) and (max-width: 866px) {

   .content {
      height: 410px;
   }

   .content-content {
      margin-top: 45px;
      margin-bottom: 12px;
   }

   .main-image {
      height: 415px;
   }

   .bottom-div div svg {
      height: 13.9px;
   }

   .bar {
      height: 75px;
      -webkit-border-radius: 0 0 17px 17px;
      border-radius: 0 0 17px 17px;
   }

   .bar-bar {
      height: 48px;
   }

   .hero-img {
      height: 390px;
   }

   h1 {
      font-size: 1.7rem;
   }

   p {
      font-size: 1.45rem;
   }

   #btn {
      height: 50px;
      width: 252px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      border: 3px solid black;
      background-color: #C9A10D;
      font-size: 1.5rem;
   }

   .btn-div {
      height: 56px;
      width: 258px;
      padding: 3px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-color: #C9A10D;
   }

   .light-left,
   .light-right {
      margin-top: 32px;
      padding-bottom: 85px;
   }

   @-webkit-keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
      }
   }

   @keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
      }
   }
}


@media only screen and (min-width: 867px) and (max-width: 1024px) {
   .content {
      height: 410px;
      min-height: 270px;
   }

   .content-content {
      margin-top: 45px;
      margin-bottom: 12px;
   }

   .main-image {
      height: 450px;
   }

   .bottom-div div svg {
      height: 14.2px;
   }

   .bar {
      height: 90px;
      -webkit-border-radius: 0 0 18px 18px;
      border-radius: 0 0 18px 18px;
   }

   .bar-bar {
      height: 48px;
   }

   .hero-img {
      height: 430px;
   }

   h1 {
      font-size: 2.2rem;
   }

   p {
      font-size: 1.8rem;
   }

   #btn {
      height: 50px;
      width: 252px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      border: 3px solid black;
      background-color: #C9A10D;
      font-size: 1.5rem;
   }

   .btn-div {
      height: 56px;
      width: 258px;
      padding: 3px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-color: #C9A10D;
   }

   .light-left,
   .light-right {
      margin-top: 14px;
      padding-bottom: 85px;
   }

   @-webkit-keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
      }
   }

   @keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
      }
   }
}

@media only screen and (min-width: 1025px) and (max-width: 1150px) {
   .bar {
      height: 115px;
      -webkit-border-radius: 0 0 22px 22px;
      border-radius: 0 0 22px 22px;
   }

   .bar-bar {
      height: 65px;
   }

   .content {
      height: 450px;
   }

   .main-image {
      height: 550px;
   }

   .bottom-div div svg {
      height: 14.6px;
   }

   .hero-img {
      height: 520px;
   }

   h1 {
      font-size: 2.1rem;
   }

   p {
      font-size: 1.55rem;
   }

   #btn {
      height: 60px;
      width: 362px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      border: 4px solid black;
      background-color: #C9A10D;
      font-size: 2.12rem;
   }

   .btn-div {
      height: 68px;
      width: 370px;
      padding: 3px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-color: #C9A10D;
   }

   .light-left,
   .light-right {
      margin-top: 14px;
   }

   @-webkit-keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
      }
   }

   @keyframes light {
      0% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
      }

      50% {
         background-color: rgba(250, 255, 115, .4);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0.65);
      }

      100% {
         background-color: rgba(250, 255, 115, 0);
         box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -webkit-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
         -moz-box-shadow: 1px 1px 95px 40px rgba(250, 255, 115, 0);
      }
   }
}

@media only screen and (max-height: 780px) and (min-width: 1025px) and (max-width: 1150px) {

   html,
   body,
   .main-home {
      overflow: visible;
   }
}

@media only screen and (min-width: 1151px) and (max-width: 1350px) {
   .content {
      height: 440px;
   }

   .main-image {
      height: 580px;
   }

   .bottom-div div svg {
      height: 14.7px;
   }

   .hero-img {
      height: 550px;
   }

   h1 {
      font-size: 2.1rem;
   }

   p {
      font-size: 1.55rem;
   }

   #btn {
      height: 60px;
      width: 362px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      border: 4px solid black;
      background-color: #C9A10D;
      font-size: 2.12rem;
   }

   .btn-div {
      height: 68px;
      width: 370px;
      padding: 3px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-color: #C9A10D;
   }
}

@media only screen and (max-height: 900px) and (min-width: 1151px) and (max-width: 1350px) {

   html,
   body,
   .main-home {
      overflow: visible;
   }
}

@media only screen and (min-width: 1351px) {

   html,
   body,
   .main-home {
      overflow: hidden;
   }

   .content-content {
      width: 50%;
      margin-top: 15px;
      margin-bottom: 15px;
   }

   .main-image {
      height: 662px;
   }

   .hero-img {
      width: 90%;
   }

   h1 {
      font-size: 2.5rem;
   }

   p {
      font-size: 1.85rem;
   }

   .bar {
      height: 82px;
      -webkit-border-radius: 0 0 26px 26px;
      border-radius: 0 0 26px 26px;
   }

   .bar-bar {
      height: 58px;
   }

   #btn {
      height: 60px;
      width: 362px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      border: 4px solid black;
      background-color: #C9A10D;
      font-size: 2.12rem;
   }

   .btn-div {
      height: 68px;
      width: 370px;
      padding: 3px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-color: #C9A10D;
   }

   .light {
      width: 84%;
   }

   .light-left {
      width: 25%;
   }

   .light-right {
      width: 25%;
   }
}

@media only screen and (max-height: 1000px) and (min-width: 1351px) {

   html,
   body,
   .main-home {
      overflow: visible;
   }
}

@media only screen and (min-width: 767px) and (max-width: 1025px) and (max-height: 930px) {

   html,
   body,
   .main-home {
      overflow: hidden;
   }

   .header {
      height: 65px;
   }

   .content {
      height: 38%;
   }

   .main-image {
      height: 49%;
   }

   .light-left,
   .light-right {
      padding-bottom: 100px;
   }
}

@media only screen and (min-width: 1025px) and (min-height: 670px) {

   html,
   body,
   .main-home {
      overflow: hidden;
   }

   .header {
      height: 65px;
   }

   .content {
      height: 40%;
   }

   .main-image {
      height: 53%;
   }

   .light-left,
   .light-right {
      padding-bottom: 100px;
   }
}

@media only screen and (max-height: 785px) and (min-width: 767px) and (max-width: 866px) {

   html,
   body,
   .main-home {
      overflow: visible;
   }
}

@media only screen and (max-height: 680px) and (min-width: 867px) and (max-width: 1024px) {

   html,
   body,
   .main-home {
      overflow: visible;
      min-width: 100px;
   }
}

.road {
   position: relative;
   z-index: -10;
}

#break-light,
#indicator-light {
   display: none;
}

/* utilites */
.flex {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
}

.flex-center {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.m-auto {
   margin: auto;
}

.text-center {
   text-align: center;
}

.inline {
   display: inline;
}

.text-dec-none {
   text-decoration: none;
}